*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'poppins';
    background-color: hsl(0, 0%, 98%);
    color: hsl(234, 12%, 34%);
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1:first-of-type{
    font-weight: 200;
}

header p{
    width: 550px;  
    text-align: center;
    color: hsl(229, 6%, 66%);
}

.box{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid red;
    width: 350px;
    padding: 20px;
}

.box p{
    margin-block-start: 20px;
    color: hsl(229, 6%, 66%);
}

.box img{
    align-self: flex-end;
    width: 70px;
    margin-block-start: 20px;
}


.container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    /* gap: calc((30 / 16) * 1rem); */
    margin-block-start: 30px;
}

.supervisor{
    grid-column: 1;
    grid-row: 1 / span 2;
    place-self: center;
}

.team-builder{
    grid-column: 2;
    grid-row: 1;
    place-self: center;
}

.karma{
    grid-column: 2;
    grid-row: 2;
    place-self: center;
}

.calculator{
    grid-column: 3;
    grid-row: 1 / span 2;
    place-self: center; 
}

@media (max-width: 100px) {
    header p {
        width: none;
    }
    .container{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
    }
    .supervisor{
        grid-column: 1;
        grid-row: 1;
    }
    .team-builder{
        grid-column: 2;
        grid-row: 1;
    }
    .karma{
        grid-column: 1;
        grid-row: 2;
    }
    .calculator{
        grid-column: 2;
        grid-row: 2;
    }
}

@media(max-width: 500px){
    header p {
        width: none;
    }
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
    }
    .supervisor{
        grid-row: 1;
    }
    .team-builder{
        grid-row: 2;
    }
    .karma{
        grid-row: 3;
    }
    .calculator{
        grid-row: 4;
    }
}